[Unit]
Description=puppeteer
After=network-online.target
Wants=network-online.target
StartLimitBurst=3
StartLimitIntervalSec=60

[Service]
User=puppeteer
Group=puppeteer
RestartSec=5
Restart=on-failure
WorkingDirectory=/opt/puppeteer
ExecStart=/opt/puppeteer/puppeteer.mjs
EnvironmentFile=/opt/puppeteer/.env

[Install]
WantedBy=multi-user.target
